
$Orange: #f36100;
$Dark: rgba(155, 157, 143, 0.62);

//Mixin for common css
@mixin  customStyling{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
//Mixin for height and width
@mixin customHeightWidth($height,$width){
  height: $height;
  width: $width;
}

.imagerow{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-x: auto;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  @include customHeightWidth(520px,400px);
  margin-top: 10px;
  border: 1px solid $Orange;
  border-radius: 30px;
  box-shadow: 0 0 10px $Orange;
  background-color: rgba(0,0,0,.2);
  overflow-y: hidden;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .imageDiv{
    @include customHeightWidth(60%,80%);
    display: block;
    overflow: hidden;
    margin: auto;
  }
  .imageDimensions{
    @include customHeightWidth(auto,500px);
    margin-top: 30px;

  }
  .imageTitle{
    width: 80%;
    margin: auto;
    text-align: center;

    h4{
      @include customStyling();
    }
    a{
      color: $Orange;

      overflow:hidden;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
    }

  }
  .imageAuthor{
    width: 80%;
    margin: auto;
    text-align: center;
    p{
      margin-top: -20px;
      @include customStyling();
    }
    a{
      color: $Orange;
    }
  }
  .imageDescription{
    width: 80%;
    margin: auto;
    P{
      overflow:hidden;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
    }
    span{
      font-size: small;
    }

  }

  .imageTags{
    width: 80%;
    margin: auto;

    p{
      margin-top: -5px;
      @include customStyling();
    }
  }

}

.SearchBar{
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  border: none;

  input{
    border: 3px solid rgba(1,1,1,.1);
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    text-align: left;
    margin: 10px 0 7px;
    text-indent: 15px;
    font-size: large;
    @include customHeightWidth(40px,500px);
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $Dark;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $Dark;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $Dark;
  }
}

@media only screen and (max-width: 770px) {
  .SearchBar input{
    width: 350px;
  }
}